html,body {
  background-color: #8C92AC;
}
header {
  font-size: 2.5em;
  font-weight: 700;
  font-family: Courier;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#display {
  position: relative;
  padding: 5px;
  margin: 10px 0;
  background-color: #111115;
  box-shadow: 0 0 100px #40424d;
}


.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  border: white solid;
  border-radius: 2.5px;
  background-color: white;
  font-size: 0.9em;
  font-weight: 700;
}

body {
  margin: 0;
  overflow: hidden;
}